<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>控制台 - Bootstrap后台管理系统模版Ace下载</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- basic styles -->
    <link href="{{__HOST__}}/admin/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="{{__HOST__}}/admin/css/font-awesome.min.css" />


    <link rel="stylesheet" href="{{__HOST__}}/admin/css/ace.min.css" />
    <link rel="stylesheet" href="{{__HOST__}}/admin/css/ace-rtl.min.css" />
    <link rel="stylesheet" href="{{__HOST__}}/admin/css/ace-skins.min.css" />

    <script src="{{__HOST__}}/admin/js/ace-extra.min.js"></script>

</head>